<ng-container *ngIf="post$ | async as post; else loading">
  <div class="post">
    <button class="btn" [routerLink]="['/posts']">
      Back to posts
    </button>

    <div class="header">
      <h1>{{ post.title }}</h1>
      <small>{{ post.date | date:'medium':'':'ru' }}</small>
    </div>

    <div class="body">
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <p class="text-center">Loading post...</p>
</ng-template>
