<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Login to admin panel</h2>

  <div class="alert alert-danger" *ngIf="authService.error$ | async as error">
    {{ error }}
  </div>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div class="validation" *ngIf="formService.controlHasError(form, 'email')">
      <small *ngIf="formService.getControlError(form, 'email', 'required')">
        Email is required
      </small>
      <small *ngIf="formService.getControlError(form, 'email', 'email')">
        Enter valid email
      </small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="formService.controlHasError(form, 'password')">
      <small *ngIf="formService.getControlError(form, 'password', 'required')">
        Password is required
      </small>
    </div>
  </div>

  <div class="form-control">
    <button class="btn btn-primary" [disabled]="form.invalid || submitting">
      Login
    </button>
  </div>
</form>
