table {
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;

  th {
    background: var(--light-gray);
    text-align: initial;
  }

  th, td {
    border: 1px solid var(--primary-color);
    padding: 0.5rem;

    &:last-of-type {
      text-align: right;
    }
  }

  button {
    padding: 0 1rem;
    height: 30px;
  }
}
