<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label>Post title</label>
    <input
      type="text"
      placeholder="Title"
      formControlName="title"
    >
    <div class="validation" *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
      <small *ngIf="form.get('title')?.errors?.['required']">Обязательное поле</small>
    </div>
  </div>
  <div class="form-control">
    <label>Post content</label>
    <input
      type="text"
      placeholder="Text"
      formControlName="text"
    >
    <div class="validation" *ngIf="form.get('text')?.invalid && form.get('text')?.touched">
      <small *ngIf="form.get('text')?.errors?.['required']">Обязательное поле</small>
    </div>
  </div>

  <div class="card" formGroupName="keywords">
    <h2>Ключевые слова</h2>
    <button class="btn" (click)="addKeyword()">Добавить</button>
    <div class="form-control" *ngFor="let control of getKeywords().controls; let i = index">
      <label>Ключевое слово {{ i + 1 }}</label>
      <input type="text" [formControlName]="i">
    </div>
  </div>

  <div class="form-control">
    <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>
